ipykernel==5.5.4
ipython_genutils==0.2.0
matplotlib==3.5.1
nbformat>=4.2.0
numpy==1.20.2
pandas==1.4.0
plotly==4.14.3
torch==1.8.1
scikit-learn==1.0.2
scipy==1.6.3
holoviews==1.15.0
datashader==0.14.1
hvplot==0.8.0
statsmodels==0.13.1
graphviz==0.18.2
